APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

## prod database

# DB_CONNECTION=mysql
# DB_HOST=185.98.131.148
# DB_PORT=3306
# DB_DATABASE=afric1878375_1mru5
# DB_USERNAME=afric1878375_1mru5
# DB_PASSWORD=Africred@2022

## test database

DB_CONNECTION=mysql
DB_HOST=185.98.131.148
DB_PORT=3306
DB_DATABASE=afric1878375_1abxxj
DB_USERNAME=afric1878375
DB_PASSWORD=Apiwallet@2023

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=1b6fd3f1a8417a
MAIL_PASSWORD=9ed555b178348b
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=djekounyom6@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


VAPID_PUBLIC_KEY=BPF7NAeh1BrViRY_zi5UGmHd82jE2A-Y0_a6faelUlCFrve_Gy1shxVdjHKmImG8JCV4Oi0ftvqM0GlBWA5-kpA
VAPID_PRIVATE_KEY=mJyOu8Yp7dZMexQBTm9umJdGFoSOKRDDdLj_bKg-VYw
